@{
    ViewData["Title"] = "Index";
}
<head>
    
</head>
<body>
    <header>
        <div>
            <h1 class = "centro">TP 04 - Index</h1>
            <p class = "centro">Nuestro sitio para crear y mostrar indumentarias para equipos.</p><br>
        </div>
    </header>
    <section>
        <div>
            <h3></h3>
            <a class = "centro" href='@Url.Action("SelectIndumentaria")'>Ingresar indumentaria</a>
        </div>
        <div>
            <h3>Equipos cargados:</h3>
            @foreach (string item in ViewBag.dicEquipos.Keys)
            {
                <h4>@item</h4>
                <img src="/img/medias/@ViewBag.dicEquipos[item].Medias" alt="img media" height="100">
                <img src="/img/pantalones/@ViewBag.dicEquipos[item].Pantalon" alt="img pantalon" height="100">
                <img src="/img/remeras/@ViewBag.dicEquipos[item].Remera" alt="img remera" height="100">
                <br>
            }
        </div>
    </section>
    <footer>
    <p>Made by Ivo y Chinocapo</p>
    </footer>
</body>

