<head>

</head>
<body>
    <header>
        <h1>Selecciona o crea indumentaria</h1>
        <a href='Index'>Volver al index</a>
    </header>
    <section>
        <div>
            <form action='@Url.Action("GuardarIndumentaria")'>
                <div>
                    <p>Equipos: </p>
                    @foreach (string item in ViewBag.ListaEquipos)
                    {
                        <b>@item</b>
                    }
                    <input name="Equipo" type="number" required min=1 max=@ViewBag.ListaEquipos.Count>
                </div>
                <div>
                    <h1>Medias</h1> <br>
                    @foreach (string item in ViewBag.ListaMedias)
                    {
                        <img src="/img/medias/@item" alt="img media" height="100">
                    }
                    <input name="Medias" type="number" required min=1 max=@ViewBag.ListaEquipos.Count>
                </div>
                <div>
                    <h1>Pantalones</h1> <br>
                    @foreach (string item in ViewBag.ListaPantalones)
                    {
                        <img src="/img/pantalones/@item" alt="img pantalones" height="100">
                    }
                    <input name="Pantalon" type="number" required min=1 max=@ViewBag.ListaEquipos.Count>
                </div>
                <div>
                    <h1>Remeras</h1> <br>
                    @foreach (string item in ViewBag.ListaRemeras)
                    {
                        <img src="/img/remeras/@item" alt="img remera" height="100">
                    }
                    <input name="Remera" type="number" required min=1 max=@ViewBag.ListaEquipos.Count>
                </div>
                <input type="submit">
            </form>
        </div>
    </section>
    <footer>
        <p>Made by Ivo y Chinocapo</p>
    </footer>
</body>